<div class="container mt-2">
    <div class="text-center alert alert-success">
        <h1><b>Add Family Members of {{customerService.customerName}}</b></h1>
    </div>
    <form [formGroup]="addFamily" (ngSubmit)="saveCustomerFamily()">


        <div class="form-group  row">
            <label for="fatherName" class="  control-label col-sm-2 col-form-label"> Father Name<span
                    class="ml-2 required">*</span></label>
            <div class="col-sm-7">
                <input type="text" formControlName="fatherName" class="form-control" id="fatherName" placeholder="Enter your father name">
            </div>
            <div *ngIf="addForm.fatherName.touched && addForm.fatherName.invalid" class="required col-sm-3">
                <div *ngIf="addForm.fatherName.errors?.required">Enter Father Name </div>
                <div *ngIf="addForm.fatherName.errors?.pattern">Father name is not valid
                </div>
            </div>
        </div>
        <div class="form-group  row">
            <label for="motherName" class="  control-label col-sm-2 col-form-label"> Mother Name<span
                    class="ml-2 required">*</span></label>
            <div class="col-sm-7">
                <input type="text" formControlName="motherName" class="form-control" id="motherName" placeholder="Enter your first name">
            </div>
            <div *ngIf="addForm.motherName.touched && addForm.motherName.invalid" class="required col-sm-3">
                <div *ngIf="addForm.motherName.errors?.required">Enter Mother Name </div>
                <div *ngIf="addForm.motherName.errors?.pattern">Mother name is not valid
                </div>
            </div>
        </div>
        <div class="form-group  row">
            <label for="grandfatherName" class="  control-label col-sm-2 col-form-label"> Grandfather Name<span
                    class="ml-2 required">*</span></label>
            <div class="col-sm-7">
                <input type="text" formControlName="grandfatherName" class="form-control" id="grandfatherName" placeholder="Enter your Grandfather name">
            </div>
            <div *ngIf="addForm.grandfatherName.touched && addForm.grandfatherName.invalid" class="required col-sm-3">
                <div *ngIf="addForm.grandfatherName.errors?.required">Enter Grandfather Name </div>
                <div *ngIf="addForm.grandfatherName.errors?.pattern">Grandfather name is not valid
                </div>
            </div>
        </div>



        <div *ngIf="married" class="form-group  row">
            <label for="spouseName" class="  control-label col-sm-2 col-form-label"> Spouse Name
                 <span
                   class="ml-2 required">*</span>  </label>
            <div class="col-sm-7">
                <input type="text" formControlName="spouseName" class="form-control" id="spouseName" placeholder="Enter your Spouse name">
            </div>
            <div *ngIf="addForm.spouseName.touched && addForm.grandfatherName.invalid" class="required col-sm-3">
                <div *ngIf="addForm.spouseName.errors?.required">Enter Spouse Name </div>
                <div *ngIf="addForm.spouseName.errors?.pattern">Spouse name is not valid
                </div>
            </div>
        </div>
        <button class="btn btn-success" type="submit mr-5">Submit</button>
        <button class="btn btn-success ml-2" type="reset">Reset</button>
    </form>
